.table {
  display: table;
  margin: 0 25px;
  margin-top: 25px;
  border-collapse: collapse;
}

.name-input {
  width: 240px;
}

.author-name-input {
  width: 115px;
}

.author-first-name {
  margin-right: 7px;
}

.add-citation {
  padding-top: 10px;
  text-align: center;
}
