.body {
    width: 400px;
    padding: 0px;
    margin: 0px;
}

.splash {
    width: 360px;
    margin: 0px;
    text-align: center;
    color: white;
    background-color: rgb(96, 178, 255);
}

.title {
    font-size: 1.5em;
}

.display {
    width: 350px;
    height: 300px;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}

#copyArea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    position: fixed;
    left:-1000px;
    top:-1000px;
    white-space: pre;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: black;
}

.button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.bottom-button {
    justify-content: center;
}
