.body {
    width: 400px;
    padding: 0px;
    margin: 0px;
}

.splash {
    width: 360px;
    margin: 0px;
    text-align: center;
    color: white;
    background-color: rgb(96, 178, 255);
}

.title {
    font-size: 1.5em;
}

.display {
    width: 350px;
    height: 350px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#copyArea {
    position:fixed;
    left:-10000px;
    top:-10000px;
    white-space: pre;
  }
