.container {
    width: 325px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container:hover {
    background-color: #fff1aa;
    cursor: pointer;
}

.citation {
    width: 295px;
}

.icon {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transition: height 0.25s;
}

.icon:hover {
    height: 20px;
}
