.splash {
    width: 360px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(96, 178, 255);
}

.input-field {
    height: 30px;
    width: 280px;
    margin: 30px;
    padding: 5px;
}

.input-box {
    height: 100px;
    width: 350px;
    background-color: grey;
    margin: 25px;
}

.button-container {
    width: 350px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.style-button {
    height: 20px;
    width: 80px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: rgb(96, 178, 255);
}

.default.style-button {
    background-color: white;
    color: rgb(96, 178, 255);
}

.selected.style-button {
    background-color: rgb(96, 178, 255);
    color: white;
}
