.body {
    width: 400px;
    text-align: center;
}

.load-image {
    animation: load-image-spin infinite 5s linear;
    height: 80px;
    margin: 25px;
}

@keyframes load-image-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
