.react-calendar {
  max-width: 400px;
  position: absolute;
  top: -235px;
  left: -115px;
  z-index: 3;
}

.react-calendar__navigation button {
  background: inherit;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation button:enabled:hover {
  background-color: rgb(255, 241, 170);
}

.react-calendar__month-view__days button {
  background: inherit;
}

.react-calendar__month-view__days button:enabled:hover {
  background-color: rgb(255, 241, 170);
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #969696;
}
