.body {
    width: 400px;
    padding: 0px;
    margin: 0px;
}

.list-text {
    width: 265px;
    height: auto;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: pre-line;
}

#copyArea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 2;
    position: fixed;
    left:-10000px;
    top:-10000px;
    white-space: pre;
}

.button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.bottom-button {
    justify-content: center;
}
