.body {
    width: 400px;
    padding: 0px;
    margin: 0px;
}

.list-item {
    min-height: 48px;
    justify-content: center;
}

.list-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.list-text {
    width: 265px;
    height: auto;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: pre-line;
}

.list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#copyArea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 2;
    position: fixed;
    left:-10000px;
    top:-10000px;
    white-space: pre;
}

.wrapper {
    width: 300px;
    height: 300px;
    background-color: #FFE455;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.bottom-button {
    justify-content: center;
}

.test {
    width: 298px;
    height: 20px;
    margin-left: -20px;
    border: 1px solid green;
    margin-bottom: 10px;
}