.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.media-box {
  background-color: #eaeaea;
  height: 50px;
  width: 300px;
  border: black;
  border-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  margin: 0;
}

.media-icon {
  height: 40px;
  width: 40px;
  float: left;
  padding: 5px;
  margin: 0;
}

.media-name {
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
