.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.customize-button {
  height: 15px;
  width: 15px;
  margin: 0px;
  padding: 0px;
  border: none;
  display: inline-block;
  background: white;
}

.customize-bar {
  height: 15px;
  width: 400px;
  align-content: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
